{% extends 'base.html' %}

{% load static %}

{% block 'style' %}
<link rel="stylesheet" href="{% static 'home/css/styleHome.css' %}">
{% endblock %}

    
{% block 'title' %}
    <title>AmigoSecret-</title>
{% endblock %}


{% block 'content' %}


<div class="bk-nav f_cor2">
    <div class="card-logo">
        <a class= "corletras">LOGO</a>
    </div>
    
    <div class="card-menu-nav">
        <a class="corletras" href="">Histórico</a>
        <a class="corletras" href="">Configurações</a>
        <button>Sair</button>
    </div>
    
</div><br>


<div class="bk-list">
    
    <div class="topo-list f_corbkCard">
        <input type="text" id="participante_name" placeholder="Novo participante">
        <input type="text" id="email_participante" placeholder="E-mail do participante">
        <span class="material-symbols-outlined cor2" id="btnaddparticipante">add</span>
    </div>

    
    <ul class="f_corbkCard"  id="listaParticipantes">
        <li class="elemntlist topo-list">
            <span class="n_participante">Participante 1</span>
            <span class="e_participante">email 1</span>
            <div>
                <span class="material-symbols-outlined">edit</span>
                <span class="material-symbols-outlined">delete</span> 
            </div>
        </li>
    </ul>
</div>

<div class= "containerListaDeUsuarios f_corbkCard">
    {% for userList in userList  %}
    <div class= "listaDeUsuarios">
        <div class= "topicos">
            {{userList.nome}}
            {{userList.email}}
            <button>Editar</button>
            <button><a href="{% url 'dellUsuario' userList.id %}">Remover</a></button>
        </div>
    
    </div>
    {% endfor %}
    
    <button>Sortear</button>
</div>


{% endblock %}
    