.corbktela{
    color: #0d002e;
}
.f_corbktela{
    background: #0d002e;
}



.corbkCard{
    color: #837a99;
}
.f_corbkCard{
    background: #837a99;
}



.cor2{
    color: #33e77b;
}
.f_cor2{
    background: #33e77b;
}



.corletras{
    color: #ffff;
}
.f_corletras{
    background: #ffff;
}


.cordetalhe{
    color: #cbcbcb;
}
.f_cordetalhe{
    background: #cbcbcb;
}