
{% load static %}


{% block 'style' %}
<link rel="stylesheet" href="{% static 'login/css/styleLogin.css' %}">
<link rel="stylesheet" href="{% static 'cores.css' %}">
{% endblock %}


{% block 'coonten' %}

<div class="page-login f_corbktela">
    <div class="esquerdo-login">
    <h1 class="cor2">FAÇA LOGIN</h1> <br> <h1 class="cor2">E CRIE AMIGOS SECRETOS</h1>
    <p class="corletras">imagem</p>
    </div>
    <div class="direito-login">
        <div class="card-login">
            <h1 class="titulo-login">LOGIN</h1>
            <div class="textfild">
                <label for="usuario-login">Usuário</label>
                <input type="text" name="usuario" placeholder="Usuário"></input>
            </div>
            <div class="textfild">
                <label for="Senha">Senha</label>
                <input type="password" name="senha" placeholder="Senha"></inpu>
            </div>
            <button>Entrar</button>
        </div>
    </div>
</div>

{% endblock %}
